
html,body {
    font-family: "Fira Sans", serif;
    background-color: rgba(245, 245, 245, 1);
}

.nav-flot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn-sign{
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: #F5F5F5;
    color: #006A50;
    font-weight: bold;
    font-size: medium;
    
   

}
.header.title{
    color: #D5D6D8;
    

}

.btn-ENB{
    padding: 16px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    
    

}
.greenback{
    background-color:#C6E4D6
     ;
     border-radius: 24px;
}

.banner-1{
    padding-left: 100px;

}
.banner-2{
    padding-right: 100px;

}
section{
    margin: 0px 100px;
    padding-bottom: 80px;
    padding-top: 80px;
}

.card-flot{
    display: flex;
    
}
.card-shape{
    border: solid;
    margin-right: 24px;
    padding: 24px;
    border-radius: 16px;
    border-color: #D5D6D8;
    color: rgba(14, 14, 14, 0.7);
    
    


}

.card-2{
    align-self: normal;
    border: none;
    
    
    
}

.card-2-btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    border-color: white;
    background-color: #09A15C;
    color: #FFFFFF;
    font-weight: bold;
    font-size: medium;
    border: none;
    
  

}

.position-ab{
    position: absolute;
}

.margin-48{
    margin-top: 48px;
    position: relative;
    font-size: 16px;
}

.class-border{
    
    border-radius: 13px ;
    background-color: #FFFFFF;
    border-color: rgba(97, 97, 97, 0.3);
    padding:24px 48px ;
}

.zero-mar-pad{
    margin: 0px;
    padding: 0px;
}

.float-opinion{
  display: flex;
    justify-content: space-between;
    align-items: center;

}

.question-shape{
  border: 1px solid #c2c2c2 ;
  background-color: #C6E4D6;
  font-weight: bold;
  
  
  padding: 24px;

}

.yes-btn{
  border: 1px solid #c2c2c2 ;
  padding: 24px;
  background-color: #ffffff;

}
.p-opinio{
  border: 1px solid #c2c2c2 ;
  padding: 24px;
  background-color: #ffffff;
  font-weight: bold;

}

.yes-btn-mod{
  background-color: #C6E4D6;
  border-radius: 4px ;
  border: 1px solid black;
  padding: 14px 10px;
  width: 200px;
  height: 92px;
  font-weight: bold;


}

.outer-opinion{
  background-color: #ffffff;
  border: 1px solid #c2c2c2 ;
  padding: 32px;
  border-radius: 16px ;


}
.satelite-1{
  display: flex;
  background-color: #ffffff;
  border: 1px solid #c2c2c2 ;
  padding: 32px;
  border-radius: 16px ;
  
}

.satelite-img{
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.read-more-btn{
  padding: 11px 20px;
    border-radius: 8px;
    border-color: white;
    background-color: #09A15C;
    color: #FFFFFF;
    font-weight: bold;
    font-size: medium;
    border: none;

}

.flex-donate{
  display: flex;
  justify-content: space-between;
  
}

.flex-box-donate{
  border: 1px solid none;
  background-color: white;
  border-radius: 16px;
  width: 252px;
  height: 128px;
  text-align: center;
  font-size: bold;
  justify-content: center;
  align-content: center;
  
  margin-right: 24px;
  
  



}

.input-shape{
  width: 1032px;
  height: 64px;
}


.done-now-btn{
  
}

.center-justfy2{
  justify-content: center;
  align-items: center;


}
.cointainer{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.done-now-btn-1{
  background-color: #09A15C;
  padding: 17px 34px;
  border-radius: 8px;
  border: 1px solid #c2c2c2 ;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.subscribe-news{
  background-color: #C6E4D6;
  padding: 80px 100px;
  border-radius: 24px;

}

.cointainer1{
  display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center; }

    .sub-btn{
      align-self: normal;
      background-color: #09A15C;
      border: 1px solid #c2c2c2 ;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

    }
    .news-input{
      border: 1px solid #c2c2c2 ;
     width: auto;
      text-align: left;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    
    .news-input input[type="text"]{
      text-align: left;

    }

    .footer-style{
      display: flex;
      align-items: center;
    justify-content: center;
    

    }
    hr{
      border-top: 1px solid rgba(14, 14, 14, 0.1);
    }

    .margine-11{
      margin-right: 10px;
    }

    .btn-style{

    }
.flex-box-donate:hover{
  background-color: #09A15C;

}

.sub-btn:hover{
  background-color: #FFFFFF;
  color: black;
}



.btn-style:hover{
  background-color: #FFFFFF;
  color: black;
  border: 1px solid #000000 ;
}



.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  