
html,body {
    font-family: "Fira Sans", serif;
}

.nav-flot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn-sign{
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: #F5F5F5;
    color: #006A50;
    font-weight: bold;
    font-size: medium;
    
   

}
.header.title{
    color: #D5D6D8;
    

}

.btn-ENB{
    padding: 16px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    
    

}
.greenback{
    background-color:#C6E4D6
     ;
     border-radius: 24px;
}

.banner-1{
    padding-left: 100px;

}
.banner-2{
    padding-right: 100px;

}
section{
    margin: 0px 100px;
    padding-bottom: 80px;
    padding-top: 80px;
}

.card-flot{
    display: flex;
    
}
.card-shape{
    border: solid;
    margin-right: 24px;
    padding: 24px;
    border-radius: 16px;
    border-color: #D5D6D8;
    color: rgba(14, 14, 14, 0.7);
    
    


}

.card-2{
    align-self: normal;
    border: none;
    
    
    
}

.card-2-btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    border-color: white;
    background-color: #09A15C;
    color: #FFFFFF;
    font-weight: bold;
    font-size: medium;
    border: none;
    
  

}











.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  